@use 'style/Common.scss';

@mixin IconButton {
    cursor: pointer;
    height: 1.5rem;

    &:active,
    &:focus,
    &:hover {
        fill: Common.$hoverColor;
    }
}

.App {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0;
    padding: 1rem;
    font-family: "Noto Sans KR", sans-serif;

    .Header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;

        .MenuButton {
            @include IconButton();
            margin-right: 1rem;
        }

        .CodeButton {
            height: 1.5rem;
            margin-left: auto;

            svg {
                @include IconButton();
            }
        }

        .Title {
            font-size: 1.8rem;
            font-weight: bold;
        }
    }

    .Main {
        position: relative;
        overflow-y: hidden;
        flex-grow: 1;
        width: 100%;
    }
}
