@use 'style/Common.scss';

@keyframes Menu-showDropdown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.Menu {
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    width: 0;
    height: 100%;
    border: 3px solid #000000;
    border-right: 0;
    background-color: #f7f8fa;
    transition: width 0.5s;

    &::after {
        content: '';
        position: absolute;

        top: 0;
        bottom: -100%;
        right: 0;
        width: 3px;
        background-color: #000000;
    }

    &.open {
        width: 292px;

        @include Common.onSmallScreen {
            width: 176px;
        }
    }

    .ArticleItem {
        border-bottom: 1px solid #000000;

        .Button {
            cursor: pointer;
            box-sizing: border-box;

            padding-top: 30px;
            padding-left: 24px;
            padding-bottom: 10px;
            font-size: 23px;
            font-weight: 600;

            @include Common.onSmallScreen {
                font-size: 17px;
            }

            &.selected {
                background-color: Common.$selectionColor;
                border-bottom: 1px solid #000000;
            }

            &:active,
            &:focus,
            &:hover {
                background-color: Common.$hoverColor;
            }
        }

        .Dropdown {
            transform-origin: top;
            animation: Menu-showDropdown 0.5s 1;
        }
    }

    .SectionItem {
        cursor: pointer;
        box-sizing: border-box;

        margin-left: 36px;
        padding-top: 28px;
        padding-bottom: 12px;
        font-size: 21px;

        @include Common.onSmallScreen {
            font-size: 14px;
        }

        &:not(:last-child) {
            border-bottom: 0.7px solid #323232;
        }

        &:active,
        &:focus,
        &:hover {
            font-weight: bold;
        }
    }
}
