@keyframes Viewer-showViewer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes Viewer-showDemoView {
    0% {
        height: 0;
    }
    100% {
        height: 500px;
    }
}

.Viewer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 3px solid #000000;

    .ArticleTitle {
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        color: #ffffff;
        background-color: #2a2a2a;
        font-size: 1.6rem;
        font-weight: bold;
    }

    .ArticleSections {
        box-sizing: border-box;
        overflow-y: auto;
        flex-grow: 1;
        padding: 0.5rem 1rem;
        animation: Viewer-showViewer 0.5s 1;
    }

    h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.6rem;
    }

    h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }

    ul {
        padding-left: 2rem;
    }

    a {
        cursor: pointer;
    }

    code {
        font-size: 1rem !important;
        font-family: "Inconsolata", monospace !important;
    }

    .ImageView {
        text-align: center;
        box-sizing: border-box;
        overflow-x: auto;
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        border: 1px solid #000000;

        img {
            max-width: 640px;

            @media (max-width: 700px) {
                max-width: 420px;
            }
        }
    }

    .DemoView {
        .Show {
            display: block;
            border: 1px solid #000000;
            background-color: transparent;
            box-sizing: border-box;
            cursor: pointer;
            border: 1px solid #000000;
            padding: 0.1rem 0.5rem;
            background-color: transparent;
            font-size: 1rem;
            font-family: inherit;
        }

        .Main {
            width: 100%;
            margin-top: 0.5rem;
            border: 1px solid #000000;
            overflow: hidden;
            animation: Viewer-showDemoView 0.5s 1;
        }

        .Code {
            width: 100%;
            height: 500px;
            border: none;
            overflow: hidden;
        }
    }
}
