.Viewer {
    box-sizing: border-box;
    overflow-y: auto;
    flex-grow: 1;
    height: 100%;
    padding: 0.5rem;
    border: 3px solid #000000;

    .ArticleTitle {
        font-size: 2rem;
        font-weight: bold;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1rem;
    }

    a {
        cursor: pointer;
    }

    code {
        font-size: 1rem;
    }
}
